.pokemon-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    height: 100%;
}

.pokemon-detail__description {
    display: flex;
    flex-direction: column;
}

.pokemon-detail__description-title {
    margin-right: 5px;
    color: var(--colorSecond);
    border-bottom: var(--colorSecond) 1px solid;
}

.pokemon-detail__description-content {
}

.pokemon-detail__wrapper {
    width: 50%;
}

.pokemon-detail__mini-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-detail__card {
    display: flex;
    height: 100%;
    background-color: #f4f0ec;
}

.pokemon-detail__card-left, .pokemon-detail__card-rigth  {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    justify-content: center;
    align-self: center;
}