.pokemon-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.pokemon-detail__description {
    display: flex;
    flex-direction: column;
}

.pokemon-detail__description-title {
    margin-right: 5px;
    color: var(--colorSecond);
    border-bottom: var(--colorSecond) 1px solid;
}

.pokemon-detail__wrapper {
    width: 90%;
}

.pokemon-detail__mini-image-container {
    display: flex;
    justify-content: center;
}

.pokemon-detail__card {
    display: flex;
    height: 100%;
    background-color: #f4f0ec;
    flex-direction: column;
}

.pokemon-detail__card-left, .pokemon-detail__card-rigth  {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    justify-content: center;
    align-self: center;
}

@media (min-width: 1250px) {
    .pokemon-detail__wrapper {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .pokemon-detail__card  {
        flex-direction: row;
    }

    .pokemon-detail__mini-image-container {
        flex-direction: column;
    }
}

